/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    background-color:white;
    padding:30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style each list item (navbar item) */
nav li {
    display: inline; /* Display items horizontally */
    margin-right: 20px; /* Add space between items */
}

/* Style the links */
nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

/* Change link color on hover */
nav a:hover {
    color: #f00; /* Change to your desired hover color */
}

footer {
    text-align: center;
    padding: 10px;
    background-color:pink;
    color:black;
}
